@tailwind base;
@tailwind components;
@tailwind utilities;

.rain-container {
    background: radial-gradient(circle, rgba(30,30,30,1) 0%, rgba(17,17,17,1) 100%);
}

.raindrop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
